@{
    ViewBag.Title = "Home Page";
}

@* Add custom content and links *@
<div class="jumbotron">
    <h1>Technology of Yesteryear</h1>
    <p class="lead">Learn about technology beyond computers and cell phones, explore different products, and read reviews of some of the best old technology.</p>
    <p><a href="https://www.youtube.com/watch?v=ERCzN91JicA" class="btn btn-primary btn-lg">Ode to Tech &raquo;</a></p>
</div>

@* Replace "Learn More" with glyphicons, remove &raquo *@
<div class="row">
    <div class="col-md-4">
        <h2>Learn</h2>
        <p>
            Learn about the broader definition of technology.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Technology"> 
               <span class="glyphicon glyphicon-book" aria-hidden="true"></span></a></p>
    </div>
    <div class="col-md-4">
        <h2>Explore</h2>
        <p>Explore the different types of technology.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Category:Technology_by_type"> 
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></p>
    </div>
    <div class="col-md-4">
        <h2>Review</h2>
        <p>Review the best technological innovations!</p>
        @* Add link to Reviews View *@
        <p><a class="btn btn-default" href="/Reviews/Index"> 
               <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></p>
    </div>
</div>